
.datepicker.dropdown-menu {
    z-index: 10000 !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
    height: 600px;
    overflow: scroll;
}

.dropdown-user .dropdown-item {
    padding: 0.75rem 1.5rem !important;
}

.dropdown-user .dropdown-divider {
    margin: 0px !important;
}

.notification-new {
    background: #ddd !important;
}

/****** TIMELINE CSS *********/
.timeline {
    position: relative;
}

.timeline::before {
    content: '';
    background: #c5cae9;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    width: 100%;
    margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
    content: '';
    display: block;
    clear: both;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
}

.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: #d64635;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}

.timeline a {
    background: #d64635;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);
}

.timeline a:hover, a:active, a:focus {
    background: #32408f;
    color: #fff;
    text-decoration: none;
}

.timeline-card {
    padding: 0 !important;
}

.timeline-card p {
    padding: 0 20px;
}

.timeline-card a {
    margin-left: 20px;
}

.timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
    background-size: cover;
}

.timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}

.timeline-img-header h2 {
    color: #fff;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.date {
    background: #d64635;
    display: inline-block;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .timeline::before {
        left: 50px;
    }

    .timeline .timeline-img {
        left: 50px;
    }

    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
    }

    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
    }

    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
    }
}

/****** TIMELINE CSS *********/

.heading {
    color: #d64635;
    font-weight: 600;
}

.variation-text {
    color: #696969;
}

.btn-red {
    background-color: #d64635 !important;
    border-color: #d64635 !important;
    color: #fff !important;
}

.thread-area {
    background: #eee;
    border-radius: 10px; 
}

.thread-head {
    font-size: 16px !important;
}

.order-detail {
    font-size: 20px !important;
}

.widget-user-header select {
    padding: 2px 10px !important;
    width: 100%;
}

.btn-card {
    width: 100%;
    background: #d64635;
    border: #d64635;
    border-radius: 0;
}
.card-area {
    width: 24.5%;
    margin-top: -10px;
    margin-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-right: 25px !important;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .flexbox-grid-form-no-outside-padding > .flexbox-grid-form-item { 
        
    font-size: 11px !important;

    } 
    .order-border {
        font-size: 12px !important; 
    }
    .wrap-img {
        max-width: 25px !important;
        max-height: 25px !important;
        height: 25px !important;
        width: 25px !important;
    }
    img.thumb-image {
        max-width: 25px !important;
        max-height: 25px !important; 
    }
    .order-border .flexbox-auto-50 {
        flex: 0 0 0px !important;
    }
    .order-border  .flexbox-content { 
        padding: 0 10px 0px !important; 
    }
    .flexbox-grid-default .flexbox-content td { 
        font-size: 14px !important;
    }
 }

 .btn-private {
    margin-top: 45px;
 }

 
@media screen and (min-width: 992px) and (max-width: 2300px) {
#add_variation .modal-lg {
    max-width: 1200px !important;
}
}

#add_variation .modal-lg {
  width: 1200px !important;
}

#add_variation table {
  overflow:hidden;
}


.fa-2x {
    font-size: 1.5em;
  }
  
  .app {
    position: relative;
    overflow: hidden;
    top: 19px;
    height: calc(100% - 38px);
    margin: auto;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
  
  .app-one {
    background-color: #f7f7f7;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
  
  .side {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  .side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
  }
  
  .side-two {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100%;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  
  }
  
  
  .heading {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #a69b9b;
    z-index: 1000;
  }
  
  .heading-avatar {
    padding: 0;
    cursor: pointer;
  
  }
  
  .heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  
  .heading-name {
    padding: 0 !important;
    cursor: pointer;
  }
  
  .heading-name-meta {
    font-weight: 700;
    font-size: 100%;
    padding: 5px;
    padding-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
  }
  .heading-online {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f;
  }
  .heading-compose {
    padding: 0;
  }
  
  .heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
  }
  
  .heading-dot {
    padding: 0; 
  }
  
  .heading-dot i {
    text-align: right;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
  }
  
  .searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
  }
  
  .searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
  }
  
  
  /*#searchBox-inner input {
    box-shadow: none;
  }*/
  
  .searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  
  .sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: 705px;
    display: block;
    overflow-y: scroll;
  }
  
  .sideBar-body {
    position: relative;
    padding: 10px !important;
    height: 72px;
    margin: 0 !important;
    cursor: pointer;
  }
  
  .sideBar-body:hover {
    background-color: #f2f2f2;
  }
  
  .sideBar-avatar {
    text-align: center;
    padding: 0 !important;
  }
  
  .avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
  }
  
  .sideBar-main {
    padding: 0 !important;
  }
  
  .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .sideBar-name {
    padding: 10px !important;
  }
  
  .name-meta {
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
  }
  
  .sideBar-time {
    padding: 10px !important;
  }
  
  .time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
  }
  
  /*New Message*/
  
  .newMessage {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    left: -100%;
  }
  .newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0 !important;
    height: 50px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001;
  }
  
  .side-three {
    padding: 0; 
    margin-left: auto;
    height: 100%;
    width: 50%;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: -100%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  
  }
  .newMessage-main {
    padding:    0px 16px 0 15px !important;
    margin: 0 !important;
    height: 60px;
    margin-top:  0px !important;
    width: 100%;
    z-index: 1001;
    color: #fff;
  }
  
  .newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 3px 5px !important;
  }
  .newMessage-back {
    text-align: center;
    vertical-align: baseline;
    padding: 5px 5px !important;
    display: block;
    cursor: pointer;
  }
  .newMessage-back i {
    margin: auto !important;
  }
  
  .composeBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
  }
  
  .composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
  }
  
  .composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  
  .compose-sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 160px);
  }
  
  /*Conversation*/
  
  .conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, .08);
    /*overflow-y: auto;*/
  }
  
  .message {
    padding: 0 !important;
    margin: 0 !important;
    background: url("w.jpg") no-repeat fixed center;
    background-size: cover;
    overflow-y: auto;
    border: 1px solid #f7f7f7; 
    display: block;
    height: 705px;
    overflow-y: scroll;
  }
  .message-previous {
    margin : 0 !important;
    padding: 0 !important;
    height: auto;
    width: 100%;
  }
  .previous {
    font-size: 15px;
    text-align: center;
    padding: 10px !important;
    cursor: pointer;
  }
  
  .previous a {
    text-decoration: none;
    font-weight: 700;
  }
  
  .message-body {
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
    height: auto;
    background: #f7f7f7;
  }
  
  .message-main-receiver {
    margin: 10px 0px; 
  }
  
  .message-main-sender {
    padding: 3px 20px !important;
    margin-left: 40% !important;
    max-width: 60%;
  }
  
  .message-text {
    margin: 0 !important;
    padding: 5px !important;
    word-wrap:break-word;
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 0 !important;
  }
  
  .message-time {
    margin: 0 !important;
    margin-left: 50px !important;
    font-size: 12px;
    text-align: right;
    color: #9a9a9a;
  
  }
  
  .receiver {
    width: auto !important;
    padding: 4px 10px 7px !important;
    border-radius: 10px 10px 10px 0;
    background: #ffffff;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    word-wrap: break-word;
    display: inline-block;
  }
  
  .sender {
    float: right;
    width: auto !important;
    background: #dcf8c6;
    border-radius: 10px 10px 0 10px;
    padding: 4px 10px 7px !important;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display: inline-block;
    word-wrap: break-word;
  }
  
  
  /*Reply*/
  
  .reply {
    height: 60px;
    width: 100%;
    background-color: #f5f1ee;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
  }
  
  .reply-emojis {
    padding: 5px !important;
  }
  
  .reply-emojis i {
    text-align: center;
    padding: 5px 5px 5px 5px !important;
    color: #93918f;
    cursor: pointer;
  }
  
  .reply-recording {
    padding: 5px !important;
  }
  
  .reply-recording i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
  }
  
  .reply-send {
    padding: 5px !important;
  }
  
  .reply-send i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
  }
  
  .reply-main {
    padding: 2px 5px !important;
  }
  
  .reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
  }
  
  .reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
  }
  
  @media screen and (max-width: 700px) {
    .app {
      top: 0;
      height: 100%;
    }
    .heading {
      height: 70px;
      background-color: #009688;
    }
    .fa-2x {
      font-size: 2.3em !important;
    }
    .heading-avatar {
      padding: 0 !important;
    }
    .heading-avatar-icon img {
      height: 50px;
      width: 50px;
    }
    .heading-compose {
      padding: 5px !important;
    }
    .heading-compose i {
      color: #fff;
      cursor: pointer;
    }
    .heading-dot {
      padding: 5px !important;
      margin-left: 10px !important;
    }
    .heading-dot i {
      color: #fff;
      cursor: pointer;
    }
    .sideBar {
      height: calc(100% - 130px);
    }
    .sideBar-body {
      height: 80px;
    }
    .sideBar-avatar {
      text-align: left;
      padding: 0 8px !important;
    }
    .avatar-icon img {
      height: 55px;
      width: 55px;
    }
    .sideBar-main {
      padding: 0 !important;
    }
    .sideBar-main .row {
      padding: 0 !important;
      margin: 0 !important;
    }
    .sideBar-name {
      padding: 10px 5px !important;
    }
    .name-meta {
      font-size: 16px;
      padding: 5% !important;
    }
    .sideBar-time {
      padding: 10px !important;
    }
    .time-meta {
      text-align: right;
      font-size: 14px;
      padding: 4% !important;
      color: rgba(0, 0, 0, .4);
      vertical-align: baseline;
    }
    /*Conversation*/
    .conversation {
      padding: 0 !important;
      margin: 0 !important;
      height: 100%;
      /*width: 100%;*/
      border-left: 1px solid rgba(0, 0, 0, .08);
      /*overflow-y: auto;*/
    }
    .message {
      height: calc(100% - 140px);
    }
    .reply {
      height: 70px;
    }
    .reply-emojis {
      padding: 5px 0 !important;
    }
    .reply-emojis i {
      padding: 5px 2px !important;
      font-size: 1.8em !important;
    }
    .reply-main {
      padding: 2px 8px !important;
    }
    .reply-main textarea {
      padding: 8px !important;
      font-size: 18px;
    }
    .reply-recording {
      padding: 5px 0 !important;
    }
    .reply-recording i {
      padding: 5px 0 !important;
      font-size: 1.8em !important;
    }
    .reply-send {
      padding: 5px 0 !important;
    }
    .reply-send i {
      padding: 5px 2px 5px 0 !important;
      font-size: 1.8em !important;
    }
  }
    
.msg_unread {
    background: #efefef !important;
}

.msg-count {
    background: #33ff33;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 10px;
}
  
.gallery-images-wrapper { 
   display: grid !important;
  }
  
  ul.accordion-list-c {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 15px;
    margin: 0;
    list-style: none;
  }
  ul.accordion-list-c li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #c4c4c4;
    padding: 20px;
    margin: 0 auto 15px auto;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
  }
  .active-h .h-a::after {  
    content: "\f068";
    background: #a4a4a4;
    padding: 5px 7px;
    right: -20px;
    top: -20px;
  }
  .active-h .h-a {
    font-weight: 700;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.01em;
    cursor: pointer;
  }
  .h-a::after {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
    position: absolute;
    right: 0px;
    top: 0px;
    color: #d64635;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    background: #a4a4a4;
    padding: 21px 7px;
  } 
  div.answer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  div.answer p {
    position: relative;
    display: block;
    font-weight: 500;
    padding: 10px 0px 0 10px;
    cursor: pointer;
    line-height: 150%;
    margin: 0 0 15px 0;
    height: 45px !important;
    font-size: 14px;
    color: #000;
  }

  .h-a {
    font-weight: 700; 
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.01em; 
  }

  .detail-back {
    cursor: pointer;
  }
  
  .textbox-label {
    margin-top: 15px;
  }

  .btn-regular {
    background-color: #fff;
    color:#000;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    display: block;
    font-weight: 600;
    border: none;
    text-align: left;
  }

  .color-white {
    color: #fff !important;
  }

  .btnbarcode {
    background-color: #d33c3c;
    color:#fff;
    width: 75%;
    padding: 3px;
    display: block;
    font-weight: 600;
    border: none;
    text-align: center;
    margin-right: 10px;
    float: right;
    display: inline-block;
  }

  .side-one .heading {
    background-color: transparent !important;
  }
  .conversation .heading {
    background-color: transparent !important;
  }

  .side-one a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}

.conversation .tabcontent {
  display: none;
}

.search-head {
  justify-content: center;
  align-items: center;
  display: inherit;
  font-size: 15px !important;
}

#modal-adv-search input:checked:before {
  top: 13px !important;
}

#modal-adv-search {
  z-index: 100000;
}
#modal-adv-search .close {
  position: absolute;
    top: -4px;
}

#modal-adv-search .modal-header {
  height: 38px !important;
  justify-content: center !important;
  align-items: center !important;
}

.adv-input {
  width: 50%;
}

#merge_customer_modal .close {
  position: absolute;
    top: -4px;
}

#merge_customer_modal {
  z-index: 100000;
}


#merge_customer_modal .modal-header {
  height: 38px !important;
  justify-content: center !important;
  align-items: center !important;
}